.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

@media screen and (max-width: 1400px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 6.6rem;
    }
}
h1{
    padding-left: 8%;
  
    
    
}

@media screen and (max-width: 800px)
{
    .MainDash{
        align-items: center;
    }
}

