/* body{
    background-color: aliceblue;
}
.Form {
    margin-left:45%;
    margin-right: 30%;
    background-color: rgb(223, 175, 175);
    border-radius:10px;
    padding:20px;
    margin-top: 25%;
    width: 350px;
    height: 260px;
}
.Form label{
     color: rgb(44, 38, 38);
     margin-left:2%;
     font-size:15px;
}
.Form input{
    width:50%;
    padding:12px;
    border-radius:5px;
    border-style: none;
    margin-left:5%;
}
.Form button{
    border-radius: 5px;
    margin-left:10%;
    padding:5px;
    width:30%;
    font-size:10px;
    font-weight: 50;
}
.Logo{
   margin-top: -30%;
   width: 250px;
}
.Login{
    width: 2800%;
    height: 380px;
    margin-left: 15%;
    width: 750px;
    background-color:#ffff;
    border-radius: 15px;
 } */