.MuiTableRow-root > * {
  padding: 10px;
 
  
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
  
}
/* .Table{
  padding: 1000px;
} */


.Table td,

th {
  /* margin-top: 20%; */
  border: none !important;
  background-color: pink
  
  
 
}Table td,

.Table td{
  margin-left: -20%;

  align-items: center;

}

React-Dashboard
.Table:first-child {
  
  
  border-radius: 0.7rem !important;
 
}
.status {
  
  padding: 8px;
  /* margin-top: 10%; */
  border-radius: 9px;
}

.Details {
  margin-top: 50%;
  color: #00b5ff !important;
  
}
h3{
  margin-top: 24%;

}

@media screen and (max-width: 1200px) {
  .Table {
   
    width: 170%;
    margin-top: 2rem;

  }
}



@media screen and (max-width: 768px) {
  .Table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
    
  }
}